*{
    margin: 0;
    padding: 0;
}
/* Header Menuber css start */

.header{
    background-color: #FFF4E7;
}
.container{
    margin: 0 250px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav > .logo h1{
    font-size: 45px;
}
.menu-ber > ul{
    display: flex;
    gap: 20px;
}
.menu-ber > ul li{
  list-style-type: none;
  text-decoration: none;
}
.menu-ber > ul li a{
   text-decoration: none;
   text-transform: capitalize;
   color: black;
}


/* Header Banner css start */

.top-title{
 width: 700px;
 margin: 0 auto;
 margin-top: 20px;
 padding: 30px;
}
.top-title h1{
    font-size: 65px;
    text-align: center;
    padding: 5px 80px;
    color: #131313;
}
.top-title p{
    text-align: center;
}
.explore-btn{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}
.explore-btn .btn{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #FF900E;
    color: white;
    border: none;
}
.banner img{
    margin: 30px 0;
}


/* Gallary Section CSS Start */

.gallar-text{
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 20px;
    margin: 30px 0;
}
.galarry{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.gel-text{
display: flex;
align-items: center;
padding: 40px 50px;
}
.text-area h3{
    font-size: 45px;
    color: #727272;
    margin: 10px 0;
}
.text-area p{
    margin: 20px 0;
}
.of-our{
    color: #131313;
    font-weight: bold;
}
.featur{
    color: #FF900E;
}
.btn{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #FF900E;
    color: white;
    border: none;
    margin: 20px 0;
}


/* Feauter Section part css start */

.feauture-text-img{
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 20px;
    border-radius: 20px;
    position: relative;
    margin: 50px 0;
}
.feauture-text-area{
    flex: 1;
    padding: 5px;
    background: #f9f9f9;
    border-radius: 10px;
}
.feauture-image{
    flex: 1;
    padding: 5px;
    border-radius: 10px;
}
.top-text h2{
    font-size: 30px;
    padding-right: 220px;
}
.top-text p{
    margin: 20px 0;
}
.left-margin{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 15px 0;
    margin-right: 90px;
}
.left-border{
    height: 60px;
    width: 8px;
    background-color: #FF900E;
}
.feauture-image img {
 height: 100%;
 width: 100%;
 object-fit: cover;
 object-position: left;
}
.service-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feauture-text{
    padding: 25px 10px;
    background: #ffffff;
    box-shadow: 5px 5px 5px #f3eeee;
    border-radius: 10px;
    margin-right: 70px;
}
.feauture-text h3{
    margin: 10px 0;
    font-size: 25px;
}
.ten-year{
    padding: 15px;
}
.flying-btn{
    position: absolute;
    bottom: 0;
}
.flying-btn > .ten-year {
 margin: 0;
 border-radius: 5px;
 padding: 25px 40px;
}